APP_NAME=SIMAG
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=simag_db
DB_USER=root
DB_PASSWORD=

JWT_SECRET=simag-super-secret-key-2026

PORT=3000

SMTP_HOST=smtp.ethereal.email
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
