Γùç injected env (0) from .env // tip: Γîÿ multiple files { path: ['.env.local', '.env'] }
CREATE TABLE `activities` (
  `id` varchar(50) NOT NULL,
  `type` varchar(50) DEFAULT NULL,
  `title` varchar(255) DEFAULT NULL,
  `meta` varchar(255) DEFAULT NULL,
  `icon` varchar(10) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci

CREATE TABLE `applicants` (
  `id` varchar(50) NOT NULL,
  `student_id` varchar(50) NOT NULL,
  `vacancy_id` varchar(50) NOT NULL,
  `name` varchar(100) DEFAULT NULL,
  `nim` varchar(50) DEFAULT NULL,
  `study_program` varchar(100) DEFAULT NULL,
  `semester` int(11) DEFAULT NULL,
  `gpa` varchar(10) DEFAULT NULL,
  `skills` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`skills`)),
  `status` varchar(50) DEFAULT 'Menunggu',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_applicants_student` (`student_id`),
  KEY `idx_applicants_vacancy` (`vacancy_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci

CREATE TABLE `applications` (
  `id` varchar(50) NOT NULL,
  `student_id` varchar(50) NOT NULL,
  `vacancy_id` varchar(50) NOT NULL,
  `company_id` varchar(50) DEFAULT NULL,
  `lecturer_id` varchar(50) DEFAULT NULL,
  `position` varchar(100) DEFAULT NULL,
  `admin_status` varchar(50) DEFAULT 'Pending',
  `partner_status` varchar(50) DEFAULT 'Waiting',
  `status` varchar(50) DEFAULT 'Pending',
  `submitted_at` varchar(50) DEFAULT NULL,
  `approved_at` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_applications_student` (`student_id`),
  KEY `idx_applications_vacancy` (`vacancy_id`),
  KEY `idx_applications_company` (`company_id`),
  KEY `idx_applications_lecturer` (`lecturer_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci

CREATE TABLE `evaluations` (
  `id` varchar(50) NOT NULL,
  `candidate_id` varchar(50) NOT NULL,
  `status` varchar(50) DEFAULT 'Completed',
  `grade` varchar(10) DEFAULT NULL,
  `technical_score` int(11) DEFAULT 0,
  `communication_score` int(11) DEFAULT 0,
  `teamwork_score` int(11) DEFAULT 0,
  `discipline_score` int(11) DEFAULT 0,
  `initiative_score` int(11) DEFAULT 0,
  `notes` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_evaluations_candidate` (`candidate_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci

CREATE TABLE `interns` (
  `id` varchar(50) NOT NULL,
  `initials` varchar(10) DEFAULT NULL,
  `name` varchar(100) DEFAULT NULL,
  `nim` varchar(50) DEFAULT NULL,
  `institution` varchar(200) DEFAULT NULL,
  `study_program` varchar(100) DEFAULT NULL,
  `company_id` varchar(50) DEFAULT NULL,
  `company` varchar(100) DEFAULT NULL,
  `lecturer_id` varchar(50) DEFAULT NULL,
  `lecturer` varchar(100) DEFAULT NULL,
  `position` varchar(100) DEFAULT NULL,
  `status` varchar(50) DEFAULT NULL,
  `progress` int(11) DEFAULT 0,
  `logbook_completed` int(11) DEFAULT 0,
  `logbook_target` int(11) DEFAULT 150,
  `period` varchar(100) DEFAULT NULL,
  `start_date` varchar(50) DEFAULT NULL,
  `end_date` varchar(50) DEFAULT NULL,
  `mentor` varchar(100) DEFAULT NULL,
  `attendance` varchar(50) DEFAULT NULL,
  `logbook_week` varchar(50) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_interns_company` (`company_id`),
  KEY `idx_interns_lecturer` (`lecturer_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci

CREATE TABLE `logbooks` (
  `id` varchar(50) NOT NULL,
  `intern_id` varchar(50) NOT NULL,
  `week` varchar(50) DEFAULT NULL,
  `date` varchar(50) DEFAULT NULL,
  `time_in` varchar(10) DEFAULT NULL,
  `time_out` varchar(10) DEFAULT NULL,
  `title` varchar(255) DEFAULT NULL,
  `activity` varchar(255) DEFAULT NULL,
  `description` text DEFAULT NULL,
  `result` text DEFAULT NULL,
  `obstacle` text DEFAULT NULL,
  `status` varchar(50) DEFAULT 'submitted',
  `note` text DEFAULT NULL,
  `submitted_at` varchar(50) DEFAULT NULL,
  `reviewed_at` varchar(50) DEFAULT NULL,
  `reviewer` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_logbooks_intern` (`intern_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci

CREATE TABLE `sks_conversions` (
  `id` varchar(50) NOT NULL,
  `student_id` varchar(50) NOT NULL,
  `sks` int(11) DEFAULT 0,
  `target` int(11) DEFAULT 20,
  `status` varchar(50) DEFAULT 'Completed',
  `converted_at` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_sks_student` (`student_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci

CREATE TABLE `users` (
  `id` varchar(50) NOT NULL,
  `role` varchar(20) NOT NULL,
  `identifier` varchar(100) NOT NULL,
  `password` varchar(255) NOT NULL,
  `name` varchar(100) NOT NULL,
  `linked_id` varchar(50) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_users_role` (`role`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci

CREATE TABLE `vacancies` (
  `id` varchar(50) NOT NULL,
  `title` varchar(100) NOT NULL,
  `company_id` varchar(50) NOT NULL,
  `company` varchar(100) NOT NULL,
  `location` varchar(100) DEFAULT NULL,
  `work_model` varchar(50) DEFAULT NULL,
  `quota` int(11) DEFAULT 0,
  `deadline` varchar(50) DEFAULT NULL,
  `description` text DEFAULT NULL,
  `qualifications` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`qualifications`)),
  `responsibilities` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`responsibilities`)),
  `status` varchar(20) DEFAULT 'active',
  `badge` varchar(50) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_vacancies_company` (`company_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci
